.rounded-0 {
    border-radius: 0px !important;
}
.rounded-1 {
    border-radius: 5px !important;
}
.rounded-2 {
    border-radius: 15px !important;
}
.rounded-3 {
    border-radius: 25px !important;
}
.rounded-4 {
    border-radius: 40px !important;
}
.rounded-5 {
    border-radius: 60px !important;
}

.v-card__text {
    padding: 8px 16px;
}